
<div *ngIf="showplayer" class="alert alert-primary" role="alert">
    <span>{{ albumPlayed.name }}</span>
    <div class="progress">
      <div class="progress-bar" role="progressbar" [style.width]="ratio + '%'" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <span>{{ titlePlayed }}/ {{ numberOfTitle }}</span>
  </div>
  