<body>
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h5 class="card-title text-center">Sign In</h5>
                  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="form-signin">
                    <div class="form-label-group">
                      <input name="email" ngModel required type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                      <label for="inputEmail">Email address</label>
                    </div>
      
                    <div class="form-label-group">
                      <input name="password" ngModel required type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                      <label for="inputPassword">Password</label>
                    </div>
                    <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>