
<div class="container-fuild principal">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/albums" routerLinkActive="active">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Se connecter
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <span>Time: {{time}}</span>
            
        </div>
    </nav> 
    <app-audio-player></app-audio-player>
    <router-outlet></router-outlet>
  
</div>


