<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" >
        <li class="page-item">
            <a class="page-link" tabindex="-1" (click)="onClickPrevious()">Previous</a>
        </li>  
        <li class="page-item" *ngFor="let page of pages; let i = index" (click)="onClickPaginate(page); getPageNumber(i)">
            <a class="page-link">{{i+1}}</a>
        </li>
        <li class="page-item">
            <a class="page-link" tabindex="+1" (click)="onClickNext()">Next</a>
        </li>
    </ul>
</nav>