<button class="btn btn-primary" (click)="onClickAdd()">Add Album</button>


<app-paginate (onChangePage)="showPaginate($event)" [length]="5"></app-paginate>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Update</th>
        <th scope="col">Name</th>
        <th scope="col">Title</th>
        <th scope="col">Duration</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let album of albums">
        <th scope="row">{{ album.id }}</th>
        <td><button class="btn btn-warning" (click)=onClickUpdate(album)>Update</button></td>
        <td>{{ album.name }}</td>
        <td>{{ album.title }}</td>
        <td>{{ album.duration }}</td>
        <td><button class="btn btn-danger" (click)=onClickDelete(album)>Delete</button></td>
      </tr>
    </tbody>
  </table>
  