<div class="container-fuild principal">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/albums">Home
                    </a>
                </li>
                <li *ngIf="auth.authenticated()==false; else elseAuth" class="nav-item active">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">
                        Se connecter
                    </a>
                </li>
                <ng-template #elseAuth>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/admin" routerLinkActive="active">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link disconnect" (click)="auth.logout()">
                        logout
                    </a>
                </li>
                </ng-template>
            </ul>
            <ul>
                <li>time : {{ time }} </li>
            </ul>
        </div>
    </nav>
    <!-- place de l'audio player déclenché depuis le component AlbumDetailsComponent -->
    <app-audio-player></app-audio-player>
    <!-- 
à la place du sélecteur des albums on mettra maintenant le chargement des components
-->
    <router-outlet></router-outlet>
</div>