
<div class="row content">

    <div class="col-sm-4 video">
        <app-album-details [album]="selectedAlbum" (onPlay)="playParent($event)"></app-album-details>
    </div><!-- .video -->

    <div class="col-sm-8 music">

        <h1>{{titlePage}}</h1>
        <!--FORMULAIRE DE RECHERCHE-->
        <app-search (onSearch)="getSearch($event)"></app-search>

        <!--AFFICHAGE DES RESULTATS DE RECHERCHE-->
        <div *ngIf="albumSearched?.length>0">
            <h2>Résultats de la recherche</h2>
            <div class="card" *ngFor="let album of albumSearched;  let i=index">
                <div class="card-header">
                    {{ album.ref }} <span class="badge badge-info" *ngIf="album == playedAlbum">Playing</span>
                </div>
                <div class="card-body">
                    <div (click)="onSelect(album)">
                        <h5 class="card-title" routerLink="/album/{{album.id}}">{{ album.name }}</h5>
                        <p class="card-text">{{ album.description }}</p>
                    </div>
                    <span class="badge badge-info" *ngFor="let tag of album.tags">{{ tag }}</span>
                    <div>
                        <img class="glyph-icon" src="./assets/svg/si-glyph-heart.svg" *ngIf="album.like" />
                        <small *ngIf="album.like">{{ album.like }}</small>
                        <img class="glyph-icon" src="./assets/svg/si-glyph-timer.svg" *ngIf="album.duration" />
                        <small *ngIf="album.duration">{{ album.duration }} min</small>
                    </div>
                    <button class="btn btn-secondary" (click)="onSelect(album)">Details</button>
                </div>
            </div>
        </div>

        <!--NAVIGATION HAUT-->
        <app-paginate (onChangePage)="showPaginate($event)"></app-paginate>
       

        <button type="button" class="btn btn-lg btn-danger">You are in an anonymous mode.</button>

        <!--AFFICHAGE DE TOUS LES ALBUMS-->
        <div class="card" *ngFor="let album of albums;  let i=index">
            <div class="card-header">
                {{ album.ref }} <span class="badge badge-info" *ngIf="album == playedAlbum">Playing</span>
            </div>
            <div class="card-body">
                <div (click)="onSelect(album)">
                    <h5 class="card-title" routerLink="/album/{{album.id}}">{{ album.name }}</h5>
                    <p class="card-text">{{ album.description }}</p>
                </div>
                <span class="badge badge-info" *ngFor="let tag of album.tags">{{ tag }}</span>
                <div>
                    <img class="glyph-icon" src="./assets/svg/si-glyph-heart.svg" *ngIf="album.like" />
                    <small *ngIf="album.like">{{ album.like }}</small>
                    <img class="glyph-icon" src="./assets/svg/si-glyph-timer.svg" *ngIf="album.duration" />
                    <small *ngIf="album.duration">{{ album.duration }} min</small>
                </div>
                <button class="btn btn-secondary" (click)="onSelect(album)">Details</button>
            </div>
        </div>

        <!--NAVIGATION BAS-->
        <app-paginate (onChangePage)="showPaginate($event)"></app-paginate>
    </div>
</div>